.instance {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(23, 137, 218);
    border-radius: 5px;
    background-color: rgb(75, 82, 168);
    color: white;
}

.instanceContainer {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(24, 27, 59);
    color: white;
}