<mat-toolbar class="bar" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <div id="windoLogo">
        <img src="assets/images/windo.png" width="56px" alt="Windo Hub Logo" [routerLink]="['/']">
    </div>
    <span class="spacer"></span>
    <span>Windo Hub</span>
    <span class="spacer"></span>
    <ng-template [ngIf]="!isLoggedIn">
        <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
    </ng-template>
    <ng-template [ngIf]="isLoggedIn">
        <p>{{user.username}}</p>
        <button mat-raised-button color="primary" [routerLink]="['/dashboard']">Dashboard</button>
        <button mat-raised-button color="primary" [routerLink]="['/']" (click)="logout()">Log Out</button>
    </ng-template>
</mat-toolbar>