<title>Windo Hub - Login</title>
<div class="mainBody">
  <div>
    <img
      src="assets/images/windo.png"
      width="56px"
      id="windoLogo"
      alt="Windo Hub Logo"
      [routerLink]="['/']"
    />
  </div>
  <h2>Windo Hub Login</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        [formControl]="userFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. johndoe1"
      />
      @if (userFormControl.hasError('email') &&
      !userFormControl.hasError('required')) {
      <mat-error>Please enter a valid username</mat-error>
      } @if (userFormControl.hasError('required')) {
      <mat-error>Username is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passFormControl"
        [errorStateMatcher]="matcher"
      />
      @if (passFormControl.hasError('email') &&
      !passFormControl.hasError('required')) {
      <mat-error>Please enter a valid password</mat-error>
      } @if (passFormControl.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>

  <div>
    <button mat-raised-button color="primary">Login</button>
  </div>
</div>
